* {
    box-sizing: border-box;
}

body {
    background: rgba(206, 125, 125, 0.411);
    font-family: 'Titillium Web', sans-serif;
}

div{
    font-weight: bold;
    text-align: center;
    color: white;
    
}
strong{
    font-size: 30px;
}
.sub{
color: rgb(138, 91, 4);
font-size: 12px;

}
form {
    background-image: linear-gradient(to right bottom, #b063b7, #f9669b, #ff856d, #ffbb42, #e5f446);
	padding: 35px 35px 50px 35px;
	width: 600px;
	left: 50%;
	position: absolute;
    margin: 30px -260px;
    text-align: left;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 25px;
    box-shadow: #272227cc 10px 10px;
}

div#errores {
    color: red;
    font-style: italic;
    font-size: 16px;
}

input {
    color:#3c3c3c;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 25px;
}
.nombre{
    width: 100px;
}

input:hover{
    border: 5px solid lightblue;
    
}
input[type="text"], input[type="password"] {
    background-color: #fbfbfb;
    margin-top: 10px;
	margin-bottom: 10px;
    width:50%;
    height: 40px;
}

input[type="file"] {
    color: black;
    text-align: center;
    margin-top: 10px;
	margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: lightblue;
}

input[type="submit"] {
    color:black;
    padding: 1%;
    font-weight: bold;
    background-color: #fbfbfb;
    width:60%;
    height: 50px;
}
input[type="radio"] +label{
  background-color: tomato;
}
input[type="radio"]:checked + label {
    background-position: 0 -71px; width: 24px; height: 24px;
    }
    